@import './../../CSS/colors';
.post{
    
    width: 60%;
    min-height: 3rem;
    background-color: $dark-blue;
    color:$white;
    border-radius: 10px;
    margin: 3rem auto;
    box-shadow:  6px 2px 16px 0px rgba(136, 165, 191, 0.48) , -6px -2px 16px 0px rgba(255, 255, 255, 0.8) ;
    &__title{
        text-align: left;
        padding: 0.5rem 0.8rem;
        font-size: 1.4rem;
        & a{
            text-decoration: none;
            color: $white;
        }
    }
    &__username{
        display: inline-block;
        font-size: 0.9rem;
        padding: 0 1rem;
        opacity: 0.7;
    }
    &__date{
        padding: 0 1rem;
        font-size: 0.8rem;
        opacity: 0.5;
        display: inline-block;
    }
    &__body{
        padding: 1rem; 
    }
}