$light-blue:#BFD7EA;
$dark-blue:#3a506b;
$darker-blue:#1c2541;
$dark:#0b132b;
$light-green-blue:#5bc0be;
$green-blue:#6fffe9;
$white:#f7f7f7;

/*
    light-blue
    dark-blue
    darker-blue
    dark
    light-green-blue
    green-blue
    white
*/